DATABASE_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
JWT_SECRET=
ADMIN_JWT_SECRET=
ADMIN_JWT_EXPIRES_IN=7d
REDIS_URL=
KLING_AI_BASE_URL=https://api.klingai.com
KLING_AI_ACCESS_KEY=
KLING_AI_SECRET_KEY=
KLING_WEBHOOK_TOKEN=
